---
import Pagination from '@/components/Pagination.astro'
import PostsList from '@/components/PostsList.astro'
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import config from '@/theme.config'
import { getEnglishPosts } from '@/util/posts'

const posts = await getEnglishPosts()
const totalPages = Math.ceil(posts.length / config.postsPerPage)
const currentPage = 1
const startIndex = 0
const endIndex = config.postsPerPage
const pagePosts = posts.slice(startIndex, endIndex)

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Blog Posts',
  activeHeaderLink: 'Blog'
}

// Create page object for pagination
const page = {
  data: pagePosts,
  currentPage,
  lastPage: totalPages,
  url: {
    current: new URL('/en/posts/', Astro.site),
    next: totalPages > 1 ? new URL('/en/posts/2/', Astro.site) : undefined,
    prev: undefined
  }
}
---

<PageLayout {frontmatter}>
  <h1>
    {frontmatter.title}
  </h1>
  <PostsList posts={page.data} language="en" />

  <Pagination slot="bottom" page={page} />
</PageLayout>
